.header-title{

}
.header-title .lalpic img{
 margin : auto;
max-width: 1400px; 
min-width: 850px;

 z-index: -1;
 left: 0px;
 top: 0px;
}
.header-title .lalpic .text{
position: relative;
text-align:center;


}
