.header-title{
height: 15pc;
background-color: red;

}
.header-title .lalpic img{
 margin : auto;
max-width: 1400px; 
min-width: 850px;
 z-index: -1;
}
.header-title .text{
 position:absolute;
text-align:center;
margin-top: -50%; 
}
